# Rules that are ignored:
#
# The following rule now goes against PEP8:
#       W503 line break before binary operator
#
# The following rules are incompatible with or largely enforced by black:
#       B950 Line too long (flake8-bugbear equivalent of E501)
#       E203 whitespace before
#       E501 line too long
#       W291 trailing whitespace
#       W293 blank line contains whitespace
#
# I disagree with these stylistic lints from flake8-pytest-style and flake8-simplify
#       SIM905
#       PT004
#       PT005

[flake8]
max-line-length = 80
max-complexity = 12
ignore =
  B950, E203, E501, W503, W291, W293, SIM905, PT004, PT005

# flake8-noqa config
noqa-require-code = true

# flake8-pytest-style config
pytest-fixture-no-parentheses = true
pytest-mark-no-parentheses = true

# I don't care about docstrings for test files or functions
per-file-ignores = tests/*.py : D
