examples/** linguist-generated=true
stats_website/cli.md linguist-generated=true
stats_website/gather.md linguist-generated=true
stats_website/stats.md linguist-generated=true
stats_website/*.csv linguist-generated=true
