repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0 # must match requirements-dev.txt
    hooks:
      - id: requirements-txt-fixer
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.1 # must match requirements-dev.txt
    hooks:
      - id: pycln
        args: [--all, .]
  - repo: https://github.com/psf/black
    rev: 22.10.0 # must match requirements-dev.txt
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1  # must match requirements-dev.txt
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4  # must match requirements-dev.txt
    hooks:
      - id: flake8
        additional_dependencies:
          - 'flake8-bugbear==22.7.1'  # must match requirements-dev.txt
          - 'flake8-noqa==1.2.9'      # must match requirements-dev.txt
          - 'flake8-simplify==0.19.3' # must match requirements-dev.txt

ci:
    autofix_commit_msg: '[pre-commit.ci] auto fixes from pre-commit.com hooks'
    autofix_prs: true
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: [flake8]
    submodules: false
