repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0 # must match requirements-dev.txt
    hooks:
      - id: trailing-whitespace
      - id: requirements-txt-fixer
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.1 # must match requirements-dev.txt
    hooks:
      - id: pycln
        args: [--all, .]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/psf/black
    rev: 22.10.0 # must match requirements-dev.txt
    hooks:
      - id: black
        language_version: python3.10
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1  # must match requirements-dev.txt
    hooks:
      - id: isort
        name: isort (python)

ci:
    autofix_commit_msg: '[pre-commit.ci] auto fixes from pre-commit.com hooks'
    autofix_prs: true
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    submodules: false
