repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0 # must match pyproject.toml
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: name-tests-test
        args: [--pytest-test-first]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0 # must match pyproject.toml
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1 # must match pyproject.toml
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.10.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/alan-turing-institute/CleverCSV-pre-commit
    rev: v0.8.2
    hooks:
      - id: clevercsv-standardize
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint-fix
        args: ["--ignore", "stats_website/.snippets"]
      - id: markdownlint
        args: ["--ignore", "stats_website/.snippets"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: "^examples/.*"
        exclude_types: ["markdown"]
  - repo: meta
    hooks:
      - id: check-hooks-apply

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: quarterly
  submodules: false
