repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0 # must match requirements/all.txt
    hooks:
      - id: trailing-whitespace
      - id: requirements-txt-fixer
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.2 # must match requirements/all.txt
    hooks:
      - id: pycln
        args: [--config=pyproject.toml, .]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2 # must match requirements/all.txt
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/psf/black
    rev: 22.10.0 # must match requirements/all.txt
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1  # must match requirements/all.txt
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
  - repo: https://github.com/alan-turing-institute/CleverCSV-pre-commit
    rev: v0.7.4
    hooks:
    - id: clevercsv-standardize
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.2
    hooks:
    - id: markdownlint-fix
    - id: markdownlint

ci:
    autofix_commit_msg: '[pre-commit.ci] auto fixes from pre-commit.com hooks'
    autofix_prs: true
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: quarterly
    submodules: false
