repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0 # must match pyproject.toml
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: name-tests-test
        args: [--pytest-test-first]
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.5 # must match pyproject.toml
    hooks:
      - id: pycln
        args: [--config=pyproject.toml, .]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.277 # must match pyproject.toml
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0 # must match pyproject.toml AND the black used by blacken-docs
    hooks:
      - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.14.0 # must match pyproject.toml
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.3.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
  - repo: https://github.com/alan-turing-institute/CleverCSV-pre-commit
    rev: v0.8.0
    hooks:
      - id: clevercsv-standardize
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint-fix
        args: ["--ignore", "stats_website/.snippets"]
      - id: markdownlint
        args: ["--ignore", "stats_website/.snippets"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        exclude: "^examples/.*"
        exclude_types: ["markdown"]
  - repo: meta
    hooks:
      - id: check-hooks-apply

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: quarterly
  submodules: false
