site_name: typeshed-stats
site_url: https://alexwaygood.github.io/
site_author: "Alex Waygood"
site_description: "A website providing statistics and analysis of typeshed's stubs packages"
docs_dir: 'stats_website'
repo_url: https://github.com/AlexWaygood/typeshed-stats
edit_uri: ""  # The website is generated, so an edit button doesn't make sense the way mkdocs does it

theme:
  name: material
  logo: logo.png
  favicon: logo.png
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.tabs.sticky
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: blue grey
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: black
      accent: yellow
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode

plugins:
  - search
  - table-reader  # Enables embedding CSV tables in MarkDown
  - mkdocstrings:
      enable_inventory: true  # This means other projects can reference parts of our API
      handlers:
        python:
          import:
          # These mean references to Python builtins and aiohttp are autolinked in docstrings etc.
          - https://docs.python.org/3/objects.inv
          - https://docs.aiohttp.org/en/stable/objects.inv
          options:
            show_source: false
            show_bases: false
            show_root_full_path: false
            merge_init_into_class: true
            show_root_toc_entry: false

nav:
  - "Welcome to typeshed-stats": "index.md"
  - "Stats on typeshed's stubs": "stats.md"
  - "Stats in CSV format": "stats-csv.md"
  - "typeshed_stats.gather API reference": "gather.md"
  - "typeshed_stats.serialize API reference": "serialize.md"
  - "CLI reference": "cli.md"

markdown_extensions:
  # This extension enables us to keep our links in a separate file
  # https://facelessuser.github.io/pymdown-extensions/extensions/snippets/
  - pymdownx.snippets:
      base_path:
      - stats_website/.snippets
      auto_append:
      - refs.md
      check_paths: true
  # This extension allows expandable "details" sections
  # https://facelessuser.github.io/pymdown-extensions/extensions/details/
  - pymdownx.details
  # This extension allows using rST-style admonitions in MarkDown
  # https://python-markdown.github.io/extensions/admonition/
  - admonition

watch:
  - stats_website
  - src
