aiohttp[speedups]
black==22.10.0          # must match .pre-commit-config.yaml
flake8==5.0.4           # must match .pre-commit-config.yaml
flake8-bugbear==22.7.1  # must match .pre-commit-config.yaml
flake8-noqa==1.2.9      # must match .pre-commit-config.yaml
flake8-simplify
isort==5.10.1           # must match .pre-commit-config.yaml
mypy==0.982
packaging
pycln==2.1.1            # must match .pre-commit-config.yaml
tomli
typing_extensions
