name: lint

on:
  push:
    branches: main
    paths-ignore:
      - '**.json'
      - '**.md'
      - '**.csv'
      - '**.html'
  pull_request:
    paths-ignore:
      - '**.json'
      - '**.md'
      - '**.csv'
      - '**.html'
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

env:
  FORCE_COLOR: 1  # Request colored output from CLI tools supporting it
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  TERM: xterm-256color  # needed for FORCE_COLOR to work on mypy on Ubuntu, see https://github.com/python/mypy/issues/13817

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  mypy:
    name: Check code with mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "requirements/mypy.txt"
          python-version: "3.10"
      - name: Install wheel
        run: pip install "wheel<1"
      - name: Install requirements
        run: pip install -r requirements/mypy.txt
      - name: Run mypy on the project
        run: mypy

  flake8:
    name: Lint code with flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "requirements/flake8.txt"
          python-version: "3.10"
      - name: Install wheel
        run: pip install "wheel<1"
      - name: Install requirements
        run: pip install -r requirements/flake8.txt
      - name: lint the project
        run: flake8 --color always

  create-issue-on-failure:
    name: Create an issue if daily lint failed
    runs-on: ubuntu-latest
    needs: [mypy, flake8]
    if: ${{ github.repository == 'AlexWaygood/typeshed-stats' && always() && github.event_name == 'schedule' && (needs.mypy.result == 'failure' || needs.flake8.result == 'failure') }}
    permissions:
      issues: write
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.issues.create({
              owner: "AlexWaygood",
              repo: "typeshed-stats",
              title: `Daily lint failed on ${new Date().toDateString()}`,
              body: "Runs are listed here: https://github.com/AlexWaygood/typeshed-stats/actions/workflows/lint.yml",
            })
