name: tests

on:
  push:
    branches: main
    paths-ignore:
      - "examples/**"
      - "scripts/**"
      - "stats_website/**"
      - "**.md"
      - "**.json"
      - "**.csv"
      - "**.html"
  pull_request:
    paths-ignore:
      - "examples/**"
      - "scripts/**"
      - "stats_website/**"
      - "**.md"
      - "**.json"
      - "**.csv"
      - "**.html"
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

env:
  FORCE_COLOR: 1 # Request colored output from CLI tools supporting it
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  PY_COLORS: 1 # Recognized by the `py` package, dependency of `pytest`
  # TERM is needed for FORCE_COLOR to work on mypy on Ubuntu,
  # see https://github.com/python/mypy/issues/13817
  TERM: xterm-256color
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest-tests:
    name: Run tests with pytest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.10", "3.11", "3.12"]
      fail-fast: false

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v5
        with:
          cache: "pip"
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install uv
        # Installing uv via curl is much faster than via pip,
        # but there doesn't seem to be a great alternative to pip on Windows
        # in the context of GitHub Actions
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            pip install "uv>=0.1.4"
          else
            curl -LsSf https://astral.sh/uv/install.sh | sh
          fi
        # uv doesn't allow us to install packages globally;
        # we have to create a venv and install things into that
      - name: Create and activate a virtual environment
        run: |
          uv venv .venv
          echo "VIRTUAL_ENV=.venv" >> $GITHUB_ENV
          echo "$PWD/.venv/bin" >> $GITHUB_PATH
          echo "$PWD/.venv/Scripts" >> $GITHUB_PATH
      - run: python -c "import os; print(os.environ['PATH'])"
      - name: Install dependencies
        run: uv pip install -e ".[pytest]"
      - run: uv pip freeze
      - name: Run tests under coverage
        run: |
          coverage run -m pytest --doctest-modules
          coverage report --no-skip-covered

  create-issue-on-failure:
    name: Create an issue if daily test failed
    runs-on: ubuntu-latest
    needs: pytest-tests
    if: >-
      ${{
        github.repository == 'AlexWaygood/typeshed-stats'
        && always()
        && github.event_name == 'schedule'
        && needs.pytest-tests.result == 'failure'
      }}
    permissions:
      issues: write
    steps:
      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.issues.create({
              owner: "AlexWaygood",
              repo: "typeshed-stats",
              title: `Daily test failed on ${new Date().toDateString()}`,
              body: "Runs are listed here: https://github.com/AlexWaygood/typeshed-stats/actions/workflows/test.yml",
            })
